window
{
    title = Platformer
    width = 1280
    height = 720
    fullscreen = false
}

gamepad
{
    form = res/ui/gamepad.form
}

aliases
{
    res/textures = res/textures
    res/textures/gamepad = res/textures/gamepad.png
    res/textures/enemy = res/textures/enemy.png
    res/textures/gamepad = res/textures/gamepad.png
    res/textures/tiles = res/textures/tiles.png
    res/textures/enemies = res/textures/enemies.png
    res/textures/environment = res/textures/environment.png
    res/textures/player = res/textures/player.png
    res/textures/splash = res/textures/splash.png
}

scripts
{
    initialize = res/lua/platformer.lua#initialize
}

//---------------------------------------------------------------------------------------------------------
//---------------------------------------------Debug only--------------------------------------------------
//---------------------------------------------------------------------------------------------------------

// The font that will be used to display any debug text
debug_font = res/fonts/debug.gpb
// Displays an fps counter in the corner of the screen
debug_show_fps = false
// Draws the physics wireframes
debug_draw_physics = false
// The amount of miliseconds to display an assert on the screen before the game crashes
debug_assert_timeout_ms = 0
// Draw position coordinates per characters
debug_draw_character_positions=false

//---------------------------------------------------------------------------------------------------------
//---------------------------------------------Tools-------------------------------------------------------
//---------------------------------------------------------------------------------------------------------

// Allows tools to run before the game starts, should only be used on pc
debug_enable_tools = false
// The game will exit immediately after tools have been run
debug_run_tools_only = false
// Remove any data generated by the android project build and compilation processes
debug_clean_android = false
// Update the source cpp list in Android.mk
debug_generate_android = false
// How many jobs to use when compiling android, recommened to use one per physical CPU core
debug_num_android_compile_jobs=4
// Compile android with the NDK
debug_build_android=false
// Deploy existing compiled apk to the default android device with Ant
debug_deploy_android=false
// Run Luagen on the headers to generate lua bindings from doxygen comments, doxygen
// must be installed and on your PATH variable in order for this to work.
debug_generate_lua_bindings = false

debug_os = assigned_at_runtime
